<!DOCTYPE html>
<title>{{movie[0]}}</title>
<h1>{{movie[0]}} ({{movie[1]}})</h1>
<img src="data:image/jpeg;base64,{{movie_image}}" alt="Movie cover image" style="height:200px;">
<h2>{{average_score}}/5</h2>
<br>
{% if session.user_id %}
<a href="/movies/{{movie_id}}/review">Arvostele</a>
<hr>
{% endif %}
{% for review in reviews %}
{{review[2]}}:
{{review[3]}}/5
<br>
{{review[4]}}
{% if session.user_id == review[1] or session.user_id == 1 %}
<br>
<a href="/delete-review?id={{review[0]}}">Poista arvostelu</a>
{% endif %}
<hr>
{% endfor %}
<br>
{% if session.user_id == 1 %}
<a href="/delete-movie?id={{movie_id}}">Poista elokuva</a>
<br>
{% endif %}
<a href="/movies">Takaisin</a>