<!DOCTYPE html>
<title>{{movie[1]}}</title>
<h1>{{movie[1]}} ({{movie[2]}})</h1>
<form action="/movies/add-review" id="review" method="POST">
    Pisteet: 1
    <input type="radio" name="score" value="1">
    <input type="radio" name="score" value="2">
    <input type="radio" name="score" value="3">
    <input type="radio" name="score" value="4">
    <input type="radio" name="score" value="5">
    5
    <br>
    <textarea name="comment" form="review" placeholder="Kirjoita arvostelusi"></textarea>
    <br>
    <input type="submit" value="Julkaise arvostelu">
    <input type="hidden" name="movie_id" value="{{movie_id}}">
</form>